<header>
        <div class="bg-header">
           <h1>HOT TOPICS <i class="fa fa-money" aria-hidden="true"></i></h1>
            <div class="box">
               <ul>
                   <li><a href="./partials/home.html">home</a></li>
                   <li><a href="./partials/contact.html">contact</a></li>
               </ul>
                <div class="tagline"><a href="./partials/home.html"><img src="../img/tagline.jpg" alt="tagline"></a></div>
            </div>
        </div>
    </header>

<h2>Contact Us</h2>
<form action="">
    <input type="text">
    <input type="submit" value="SUBMIT">
</form>